.tv-shows {
  padding: 3em 7em;
}

.tv-shows > h2 {
  margin-bottom: 1em;
  font-size: 1.4em;
}
.tv-shows ul {
  display: flex;
  gap: 2em;

  flex-wrap: wrap;
}
.tv-shows ul li:hover img {
  transform: scale(1.05);
  border: 2px solid white;
}
.tv-shows ul li {
  width: 10em;
  border-radius: 10px;
  cursor: pointer;
}
.tv-shows ul li img {
  transition: transform 0.2s;
  border-radius: 10px;
  height: 12em;
}
.tv-shows ul li p {
  padding: 1em;
  text-align: center;
}
