.tv-show-details {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 2em;
}
.tv-show-details .content {
  min-height: 400px;
  display: flex;
  margin: 0 auto;
}
.tv-show-details .content .info {
  padding: 1em;
}
.tv-show-details .content .info img {
  width: 100px;
  margin-bottom: 1em;
}
.tv-show-details .content .trailer {
  flex: 0 0 70%;
}
.tv-show-details .content .trailer iframe {
  height: 100%;
  width: 100%;
}
.tv-show-details .content .info p {
  max-width: 60ch;
}
.tv-show-details .content .info h2 {
  margin-bottom: 0.5em;
}

.tv-show-details .comments {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 3em;
}
.tv-show-details .comments ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.tv-show-details .comments .comment {
  background-color: white;
  color: black;
  padding: 1em;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.tv-show-details .comments .comment p {
  padding: 0.2em;
  max-width: 30ch;
  word-break: break-all;
}
.tv-show-details .comments .comment .user {
  font-weight: bold;
}

.tv-show-details .add-comment form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.tv-show-details .add-comment textarea {
  margin-top: 0.5em;
  border-radius: 10px;
  border: none;
  outline: none;
  resize: none;
  font-size: 1em;
  padding: 1em;
}
.tv-show-details .add-comment button {
  border: none;
  padding: 1em 2em;
  background-color: rgb(48, 40, 40);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.tv-show-details .comments .btns {
  margin-top: 0.5em;
}
.tv-show-details .comments mat-icon {
  cursor: pointer;
  margin-left: 10px;
}
.tv-show-details .content .info .img {
  position: relative;
}
.tv-show-details .content .info .img mat-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  font-size: 2em;
  color: rgb(199, 188, 188);
  cursor: pointer;
}
