<div class="tv-show-details">
  <div class="content">
    <div class="trailer">
      <iframe
        [src]="tvShow?.video | safe"
        [title]="tvShow?.title"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="info">
      <div class="img">
        <img [src]="tvShow?.img" [alt]="tvShow?.title" />
        <mat-icon
          *ngIf="hasSaved == false && isLogged"
          (click)="saveTVShow()"
          class="save"
          >bookmark_outline</mat-icon
        >
        <mat-icon
          *ngIf="hasSaved == true && isLogged"
          class="unsave"
          (click)="unsaveTVShow()"
          >bookmark</mat-icon
        >
      </div>
      <h2>{{ tvShow?.title }}</h2>
      <p>{{ tvShow?.description }}</p>
    </div>
  </div>
  <div class="add-comment" *ngIf="commentAdded == false && isLogged">
    <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm)">
      <h3>Add comment</h3>
      <textarea name="comment" ngModel></textarea>
      <button mat-button>Send comment</button>
    </form>
  </div>
  <div class="comments">
    <h3>Comments</h3>
    <ul *ngIf="comments?.length > 0">
      <li *ngFor="let comment of comments" class="comment">
        <p class="user">
          {{ comment?.username }}
        </p>
        <p class="text">{{ comment?.content }}</p>

        <div class="btns" *ngIf="comment._ownerId == userId">
          <mat-icon (click)="editComment(comment._id)">edit</mat-icon>
          <mat-icon (click)="deleteComment(comment._id)">delete</mat-icon>
        </div>
      </li>
    </ul>
    <p *ngIf="comments?.length == 0">No comments yet.</p>
  </div>
</div>
