<div class="register">
  <h2>Register</h2>
  <form #registerForm="ngForm" (submit)="register(registerForm)">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput name="username" ngModel required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput name="email" ngModel required email />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" ngModel required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat Password</mat-label>
      <input matInput type="password" name="rePassword" ngModel required />
    </mat-form-field>
    <p class="error" *ngIf="error">{{ error }}</p>
    <button mat-button>Submit</button>
  </form>
</div>
