<header>
  <a routerLink="/home" class="logo">ShowLib</a>
  <nav>
    <ul>
      <li>
        <a routerLink="/home"><mat-icon>home</mat-icon></a>
      </li>
      <li>
        <a routerLink="/movies"><mat-icon>movie</mat-icon></a>
      </li>
      <li>
        <a routerLink="/tv-shows"><mat-icon>live_tv</mat-icon></a>
      </li>
      <li>
        <a routerLink="/library"><mat-icon>bookmark_border</mat-icon></a>
      </li>
      <li>
        <a routerLink="/profile"><mat-icon>person</mat-icon></a>
      </li>
    </ul>
  </nav>
</header>
