.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 3em;
}
.profile mat-icon {
  font-size: 9em;
  height: 100%;
  width: 100%;
  text-align: center;
}
