<div class="auth">
  <h2 class="auth-title">Login</h2>
  <form class="auth-form" #loginForm="ngForm" (submit)="login(loginForm)">
    <mat-form-field class="auth-field">
      <mat-label>Email</mat-label>
      <input matInput name="email" ngModel required email />
    </mat-form-field>
    <mat-form-field class="auth-field">
      <mat-label>Password</mat-label>
      <input matInput name="password" type="password" ngModel required />
    </mat-form-field>

    <button mat-button class="auth-button">Submit</button>
  </form>
  <p *ngIf="error" class="auth-error">{{ error }}</p>
</div>
