.library {
  padding-inline: 7em;
  padding-block: 0em 2em;
}

.library > p {
  margin-bottom: 1em;
  font-size: 1.4em;
}
.library .none {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1.5em;
}
.library ul {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
.library ul li:hover img {
  transform: scale(1.05);
}
.library ul li {
  width: 10em;
  border-radius: 10px;
  cursor: pointer;
}
.library ul li img {
  transition: transform 0.1s;
  border-radius: 10px;
  height: 12em;
}
.library ul li p {
  padding: 1em;
  text-align: center;
}
