.movies {
  padding: 3em 7em;
}

.movies > h2 {
  margin-bottom: 1em;
  font-size: 1.4em;
}
.movies ul {
  display: flex;
  gap: 4em;

  flex-wrap: wrap;
}
.movies ul li:hover img {
  transform: scale(1.05);
  border: 1px solid white;
}
.movies ul li {
  width: 10em;
  border-radius: 10px;
  cursor: pointer;
}
.movies ul li img {
  transition: 0.3s;
  border-radius: 10px;
  height: 12em;
}
.movies ul li p {
  padding: 1em;
  text-align: center;
}
