.movies-list {
  padding: 3em;
}
.movies-list > div {
  display: flex;
  justify-content: space-between;
}
.movies-list > div > p {
  margin-bottom: 1em;
  font-size: 1.2em;
}

.movies-list ul {
  display: flex;
  gap: 1.5em;

  flex-wrap: wrap;
}
.movies-list ul li {
  width: 10em;
  border-radius: 10px;
  cursor: pointer;
}
.movies-list ul li:hover img {
  transform: scale(1.05);
}
.movies-list ul li img {
  border-radius: 10px;
  transition: transform 0.1s;
  height: 12em;
}
.movies-list ul li p {
  padding: 1em;
  text-align: center;
}
.movies-list .see-all {
  display: flex;
  align-items: center;
  color: rgb(121, 117, 121);
  padding: 1em;
  transition: 0.3s background-color;
  border-radius: 30px;
}
.movies-list .see-all:hover {
  color: white;
  background-color: rgb(121, 117, 121);
}
