<div class="details">
  <div class="content">
    <div class="trailer">
      <iframe
        [src]="show?.video | safe"
        [title]="show?.title"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="info">
      <div class="img">
        <img [src]="show?.img" [alt]="show?.title" />
        <mat-icon
          *ngIf="hasSaved == false && isLogged"
          (click)="saveShow()"
          class="save"
          matTooltip="Save"
          >bookmark_outline</mat-icon
        >
        <mat-icon
          *ngIf="hasSaved == true && isLogged"
          class="unsave"
          matTooltip="Unsave"
          (click)="unsaveShow()"
          >bookmark</mat-icon
        >
      </div>

      <h2>{{ show?.title }}</h2>
      <p>{{ show?.description }}</p>
      <mat-chip class="chip">
        {{ show?.type }}
      </mat-chip>
    </div>
  </div>
  <div class="add-comment" *ngIf="commentAdded == false && isLogged">
    <form [formGroup]="commentForm" (ngSubmit)="addComment()">
      <h3>Add comment</h3>
      <textarea
        name="comment"
        formControlName="comment"
        minlength="3"
        maxlength="60"
      ></textarea>
      <button mat-button>Send comment</button>
    </form>
  </div>
  <div class="comments">
    <h3>Comments</h3>
    <ul *ngIf="comments.length > 0">
      <li *ngFor="let comment of comments" class="comment">
        <p class="user">
          {{ comment?.username }}
        </p>
        <p class="text">{{ comment?.content }}</p>

        <div class="btns" *ngIf="comment._ownerId == userId">
          <mat-icon (click)="editComment(comment._id)">edit</mat-icon>
          <mat-icon (click)="deleteComment(comment._id)">delete</mat-icon>
        </div>
      </li>
    </ul>
    <p *ngIf="comments?.length == 0">No comments yet.</p>
  </div>
</div>
