<div class="details">
  <div class="details-content">
    <img
      class="details-content-image"
      [src]="baseImageUrl + show?.backdrop_path"
      [alt]="show?.title"
    />
    <h2 class="details-content-title">{{ show?.title || show?.name }}</h2>
    <p class="details-content-text">{{ show?.overview }}</p>

    <button
      mat-button
      class="button"
      *ngIf="isFavourite == false && isLogged"
      (click)="addFavourite()"
    >
      Save
    </button>
    <button
      mat-button
      *ngIf="isFavourite == true && isLogged"
      class="button"
      (click)="deleteFavourite()"
    >
      Unsave
    </button>
  </div>

  <div class="details-add" *ngIf="commentAdded == false && isLogged">
    <form
      class="details-form"
      [formGroup]="commentForm"
      (ngSubmit)="addComment()"
    >
      <div class="details-form-controls">
        <textarea
          class="details-form-textarea"
          name="content"
          placeholder="Leave a comment"
          formControlName="content"
          maxlength="100"
          required
        ></textarea>
        <button mat-button class="details-form-button">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div class="details-comments">
    <p class="title">Comments</p>
    <ul class="details-comments-list" *ngIf="comments.length > 0">
      <li *ngFor="let comment of comments" class="details-comments-item">
        <p class="details-item-user">
          {{ comment?.user_name }}
        </p>
        <p class="details-item-text">{{ comment?.content }}</p>

        <div class="details-item-buttons" *ngIf="comment.user_id == userId">
          <mat-icon class="details-item-icon" (click)="editComment(comment.id)"
            >edit</mat-icon
          >
          <mat-icon
            class="details-item-icon"
            (click)="deleteComment(comment.id)"
            >delete</mat-icon
          >
        </div>
      </li>
    </ul>

    <p class="none" *ngIf="comments?.length == 0">No comments yet.</p>
  </div>
</div>
