<div class="details">
  <div class="details-content">
    <div class="details-trailer">
      <iframe
        class="details-trailer-video"
        [src]="show?.video | safe"
        [title]="show?.title"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="details-info-overlay">
      <div class="details-info">
        <img class="details-info-img" [src]="show?.img" [alt]="show?.title" />

        <h2 class="details-info-title">{{ show?.title }}</h2>
        <p class="details-info-text">{{ show?.description }}</p>

        <button
          mat-button
          class="button"
          *ngIf="hasSaved == false && isLogged"
          (click)="saveShow()"
        >
          Save
        </button>
        <button
          mat-button
          *ngIf="hasSaved == true && isLogged"
          class="button"
          (click)="unsaveShow()"
        >
          Unsave
        </button>
      </div>
    </div>
  </div>

  <div class="details-add" *ngIf="commentAdded == false && isLogged">
    <form
      class="details-form"
      [formGroup]="commentForm"
      (ngSubmit)="addComment()"
    >
      <div class="details-form-controls">
        <textarea
          class="details-form-textarea"
          name="comment"
          placeholder="Leave a comment"
          formControlName="comment"
          minlength="5"
          maxlength="100"
          required
        ></textarea>
        <button mat-button class="details-form-button">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div class="details-comments">
    <p class="title">Comments</p>
    <ul class="details-comments-list" *ngIf="comments.length > 0">
      <li *ngFor="let comment of comments" class="details-comments-item">
        <p class="details-item-user">
          {{ comment?.username }}
        </p>
        <p class="details-item-text">{{ comment?.content }}</p>

        <div class="details-item-buttons" *ngIf="comment._ownerId == userId">
          <mat-icon class="details-item-icon" (click)="editComment(comment._id)"
            >edit</mat-icon
          >
          <mat-icon
            class="details-item-icon"
            (click)="deleteComment(comment._id)"
            >delete</mat-icon
          >
        </div>
      </li>
    </ul>

    <p class="none" *ngIf="comments?.length == 0">No comments yet.</p>
  </div>
</div>
