<div class="discover">
  <p>Discover</p>
  <form [formGroup]="discoverForm">
    <mat-form-field>
      <mat-label>Choose type</mat-label>
      <mat-select formControlName="selectedType" name="food">
        <mat-option value="movie">Movies</mat-option>
        <mat-option value="tvShow">TV Shows</mat-option>
        <mat-option value="both">Both</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <ul>
    <li *ngFor="let show of shows" [routerLink]="['/details', show?._id]">
      <img [src]="show.img" alt="{{ show.title }}" />
      <p>{{ show.title }}</p>
    </li>
  </ul>
</div>
