.discover {
  padding-inline: 7em;
  padding-block: 0em 2em;
}

.discover > p {
  margin-bottom: 1em;
  font-size: 1.4em;
}
.discover ul {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
.discover ul li:hover img {
  transform: scale(1.05);
}
.discover ul li {
  width: 10em;
  border-radius: 10px;
  cursor: pointer;
}
.discover ul li img {
  transition: transform 0.1s;
  border-radius: 10px;
  height: 12em;
}
.discover ul li p {
  padding: 1em;
  text-align: center;
}
