.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 0;
  margin-bottom: 2em;
}

.logo {
  font-size: 1.5em;
  font-weight: bolder;
}

.searchbar {
  display: flex;
  width: 40%;
  font-size: 1.3em;
  align-items: center;
  padding: 0.5em 1.2em;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.searchbar input {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 0.7em;
  width: 100%;
}

.searchbar input::placeholder {
  color: #999;
}

.searchbar .mat-icon {
  padding-block: 0;
  color: #999;
  cursor: pointer;
}
.searchbar .mat-icon:hover {
  color: white;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav-item a .mat-icon,
.nav-item span .mat-icon {
  font-size: 1.5em;
  width: 3em;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.nav-item:hover {
  transition: 0.2s;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.mobile-nav {
  display: none;
}
.desktop-nav {
  display: block;
}
@media (max-width: 1200px) {
  .mobile-nav {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
}
