<header class="header">
  <a routerLink="/home" class="logo">ShowLib</a>
  <div class="searchbar">
    <input type="text" placeholder="Search" name="search" #search />
    <mat-icon (click)="onSearch(search.value)" class="mat-icon">
      search
    </mat-icon>
  </div>
  <nav class="desktop-nav">
    <ul class="nav-menu">
      <li class="nav-item">
        <a routerLink="/home"><mat-icon>home</mat-icon></a>
      </li>
      <li class="nav-item">
        <a routerLink="/discover"><mat-icon>track_changes</mat-icon></a>
      </li>

      <li class="nav-item dropdown">
        <span><mat-icon>person</mat-icon></span>
        <div class="dropdown-content">
          <ul class="dropdown-menu">
            <li class="dropdown-item" *ngIf="!isLoggedIn">
              <a routerLink="/login">Login</a>
            </li>
            <li class="dropdown-item" *ngIf="!isLoggedIn">
              <a routerLink="/register">Register</a>
            </li>
            <li class="dropdown-item" *ngIf="isLoggedIn">
              <a routerLink="/library">Library</a>
            </li>
            <li class="dropdown-item" *ngIf="isLoggedIn">
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <nav class="mobile-nav">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <li class="dropdown-item">
          <a routerLink="/">Home</a>
        </li>
      </button>
      <button mat-menu-item>
        <li class="dropdown-item">
          <a routerLink="/discover">Discover</a>
        </li>
      </button>
      <button mat-menu-item *ngIf="!isLoggedIn">
        <li class="dropdown-item">
          <a routerLink="/login">Login</a>
        </li>
      </button>
      <button mat-menu-item *ngIf="!isLoggedIn">
        <li class="dropdown-item">
          <a routerLink="/register">Register</a>
        </li>
      </button>
      <button mat-menu-item *ngIf="isLoggedIn">
        <li class="dropdown-item">
          <a routerLink="/library">Library</a>
        </li>
      </button>
      <button mat-menu-item *ngIf="isLoggedIn">
        <li class="dropdown-item">
          <a (click)="logout()">Logout</a>
        </li>
      </button>
    </mat-menu>
  </nav>
</header>
