<header>
  <a routerLink="/home" class="logo">ShowLib</a>
  <nav>
    <ul>
      <li>
        <a routerLink="/home" matTooltip="Home"><mat-icon>home</mat-icon></a>
      </li>
      <li>
        <a routerLink="/movies" matTooltip="Movies"
          ><mat-icon>movie</mat-icon></a
        >
      </li>
      <li>
        <a routerLink="/tv-shows" matTooltip="TV Shows"
          ><mat-icon>live_tv</mat-icon></a
        >
      </li>

      <li class="dropdown">
        <span><mat-icon>person</mat-icon></span>
        <div class="dropdown-content">
          <ul>
            <li *ngIf="!isLoggedIn">
              <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="!isLoggedIn">
              <a routerLink="/register">Register</a>
            </li>
            <li *ngIf="isLoggedIn">
              <a routerLink="/library">Saved</a>
            </li>
            <li *ngIf="isLoggedIn">
              <a routerLink="/profile">Profile</a>
            </li>
            <li *ngIf="isLoggedIn">
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
