.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7em;
}
.not-found-title {
  font-size: 7em;
  margin-bottom: 0.2em;
}
.not-found-text {
  font-size: 1.2em;
}
