* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font: 18px/1 sans-serif;
}
body {
  background: linear-gradient(#e66465, #9198e5);
  min-height: 100vh;
  color: white;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
