.library {
  padding: 3em 7em;
}

.library > h2 {
  margin-bottom: 1em;
  font-size: 1.4em;
}
.library h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.library ul {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
.library ul li {
  width: 10em;
  border-radius: 10px;
  cursor: pointer;
}
.library ul li img {
  border-radius: 10px;
  height: 12em;
}
.library ul li p {
  padding: 1em;
  text-align: center;
}
.library > p {
  padding: 1em;
}
.library ul li:hover img {
  transform: scale(1.05);
  border: 2px solid white;
}

.library ul li img {
  transition: transform 0.2s;
  border-radius: 10px;
  height: 12em;
}
