<div class="movie-details">
  <div class="content">
    <div class="img">
      <img [src]="movie?.img" alt="{{ movie?.title }}" />
    </div>
    <div class="info">
      <h2>{{ movie?.title }}</h2>
      <p>{{ movie?.description }}</p>
      <button *ngIf="hasSaved == false && isLogged" (click)="save()">
        Save
      </button>
      <button *ngIf="hasSaved == true && isLogged" (click)="unsave()">
        Unsave
      </button>
      <h3 *ngIf="hasSaved == true && isLogged">Saved</h3>
    </div>
  </div>
  <div class="add-comment" *ngIf="commentAdded == false && isLogged">
    <form #commentForm="ngForm" (submit)="addComment(commentForm)">
      <h3>Add comment</h3>
      <textarea name="comment" ngModel></textarea>
      <button>Send Comment</button>
    </form>
  </div>
  <div class="comments">
    <h3>Comments</h3>
    <ul *ngIf="comments?.length > 0">
      <li *ngFor="let comment of comments" class="comment">
        <p>{{ comment?.content }}</p>

        <p>
          {{ comment?.username }}
        </p>
        <div class="btns" *ngIf="comment._ownerId == userId">
          <mat-icon (click)="editComment(comment._id)">edit</mat-icon>
          <mat-icon (click)="deleteComment(comment._id)">delete</mat-icon>
        </div>
      </li>
    </ul>
    <p *ngIf="comments?.length == 0">No comments yet.</p>
  </div>
</div>
