.tv-shows-list {
  padding: 3em;
}

.tv-shows-list > p {
  margin-bottom: 1em;
  font-size: 1.4em;
}
.tv-shows-list ul {
  display: flex;
  gap: 3em;

  flex-wrap: wrap;
}
.tv-shows-list ul li {
  width: 10em;
  border-radius: 10px;
  cursor: pointer;
}
.tv-shows-list ul li:hover img {
  transform: scale(1.05);
  border: 1px solid white;
}
.tv-shows-list ul li img {
  transition: 0.3s;
  border-radius: 10px;
  height: 12em;
}
.tv-shows-list ul li p {
  padding: 1em;
  text-align: center;
}
